/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* line 4, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* line 10, ../sass/style.scss */
.header {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
}
/* line 15, ../sass/style.scss */
.header__logo {
  margin-left: 35px;
  text-decoration: none;
}
/* line 18, ../sass/style.scss */
.header__logo:hover {
  text-decoration: none;
}
/* line 21, ../sass/style.scss */
.header__logo img {
  height: 62px;
  width: 62px;
}
/* line 25, ../sass/style.scss */
.header__logo p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #5b5b5b;
  display: inline-block;
  font-weight: bold;
  margin: 0;
  vertical-align: middle;
}
/* line 34, ../sass/style.scss */
.header__logo p:first-of-type {
  color: #8ec723;
  margin: 0 -4px 0 4px;
}
/* line 40, ../sass/style.scss */
.header__nav-bar {
  float: right;
  margin-right: 30px;
  height: 22px;
}
/* line 44, ../sass/style.scss */
.header__nav-bar__link {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #373542;
  text-decoration: none;
  position: relative;
  margin-right: 12px;
  margin-left: 8px;
}
/* line 53, ../sass/style.scss */
.header__nav-bar__link-green {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #8ec723;
  text-decoration: none;
  position: relative;
  margin-left: 8px;
}
/* line 61, ../sass/style.scss */
.header__nav-bar__link-green:hover {
  text-decoration: none;
  color: #d53a35;
}
/* line 66, ../sass/style.scss */
.header__nav-bar__link:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  top: 2px;
  right: -12px;
  background-color: #373542;
}
/* line 75, ../sass/style.scss */
.header__nav-bar__link:hover {
  text-decoration: none;
  color: #d53a35;
}
/* line 80, ../sass/style.scss */
.header__nav-bar__drop {
  position: relative;
  display: inline-block;
}
/* line 83, ../sass/style.scss */
.header__nav-bar__drop input {
  display: none;
}
/* line 86, ../sass/style.scss */
.header__nav-bar__drop label {
  cursor: pointer;
}
/* line 88, ../sass/style.scss */
.header__nav-bar__drop label i {
  font-size: 16px;
  color: #373542;
}
/* line 93, ../sass/style.scss */
.header__nav-bar__drop input:checked ~ .header__nav-bar__drop__collapse {
  display: flex;
}
/* line 96, ../sass/style.scss */
.header__nav-bar__drop__collapse {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  padding: 0 1px 1px 1px;
  background-color: #5b5b5b;
  flex-wrap: nowrap;
  flex-direction: column;
}
/* line 105, ../sass/style.scss */
.header__nav-bar__drop__collapse a {
  position: relative;
  white-space: nowrap;
  height: 48px;
  padding: 0 25px;
  display: block;
  margin-top: 1px;
  background-color: white;
  line-height: 48px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #373542;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 120, ../sass/style.scss */
.header__nav-bar__drop__collapse a:hover:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #d53a35;
}
/* line 129, ../sass/style.scss */
.header__nav-bar__drop__collapse a:hover:after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 1px;
  height: 4px;
  width: 4px;
  background-color: #d53a35;
  transform: rotate(45deg);
}

/* line 145, ../sass/style.scss */
.finder {
  height: 980px;
  display: flex;
  background: url("../img/finder.png") no-repeat;
  background-size: 100% auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* line 154, ../sass/style.scss */
.finder h1 p {
  display: inline-block;
}
